body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --primary: #405cf5;
  --link-color: #660eff;
  --red: #ff5100;
}

* {
  box-sizing: border-box;
}

p{
  margin: 0;
  font-size: 14px;
}

.snackbar {
  z-index: 9999;
  position: absolute;
  top: 0;
  right: 50px;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.snackbar.error {
  background-color: var(--red);
  color: #ffffff;
}

.snackbar.show {
  top: 50px;
}

.snackbar.hide {
  top: -150px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  width: '100%';
  height: '100%';
  align-items: center;
  justify-content: center;
}

.h1{
  font-weight: bold;
  font-size: 30px;
}

.h2{
  font-weight: bold;
  font-size: 20px;
}

.h3{
  font-weight: bold;
  font-size: 16px;
}

.desc{
  font-size: 14px;
  margin-bottom: 6px;
  color: #525252;
}

input{
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  font-size: 14px;
}

input:focus{
  outline: 1.5px solid var(--link-color);
}

button{
  appearance: button;
  backface-visibility: hidden;
  background-color: var(--primary);
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 2px inset, rgba(50, 50, 93, .1) 0 4px 8px 0, rgba(0, 0, 0, .07) 0 2px 2px 0;
  color: #fff;
  cursor: pointer;
  line-height: 1.15;
  outline: none;
  padding: 12px 25px;
  text-align: center;
  transition: all .2s, box-shadow .08s ease-in;
}

.loaderContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--primary);
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

.textButton {
  text-decoration: none;
  padding: 0px;
  color: #090909;
  background-color: #ffffff00;
  box-shadow: unset;
}

.snackbarMessage{
  font-size: 14px;
  font-weight: 600;
}

.heading{
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 10px;
  color: var(--primary)
}

.divider{
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
}


.skeleton {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  background-color: #f1f1f1; 
  margin-bottom: 10px;
}

@keyframes loading {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.animation {
  animation: loading 1.5s infinite ease-in-out;
}